@define-color pri rgba(69,87,108,1);
@define-color sec rgba(112,111,110,1);
@define-color alt rgba(176,0,76,1);
@define-color  fg rgba(190,207,210,1);
@define-color  bg rgba(31,37,47,1);

window {
	margin: 0px;
	background-color: @bg;
	border-radius: 5px;
	border: 1px solid @pri;
}

#input {
	margin: 5px;
	background: @bg;
	color: @alt;
	border: none;
	border-bottom: 1px solid @alt;
	border-radius: 0px;
}

#inner-box {
	background-color: @bg;
	margin: 0px;
	border: none;
}

#outer-box {
	margin: 2px;
	padding: 0px;
}

#scroll {
	margin: 5px;
}

#text {
	margin: 0px;
	color: @fg;
}

#entry:selected {
	background-color: rgba(1,1,1,0.2);
	color: @alt;
	border-left: 5px solid @alt;
	border-radius: 0px;
}

#text:selected {
	color: @alt;
	font-style: oblique;
	background-color: transparent;
	padding-left: 15px;
	animation-duration: 0.2s;
	animation-name: slidein;
}
@keyframes slidein {
	from {
	 	padding-left: 2px;
	}
	to {
		padding-left: 15px;
	}
}
