/*
 * Colours
 */
@define-color pri rgba(69,87,108,1);
@define-color sec rgba(112,111,110,1);
@define-color alt rgba(176,0,76,1);
@define-color  fg rgba(190,207,210,1);
@define-color  bg rgba(31,37,47,1);

/*
 * Global Stuff
 */
* {
	border: none;
	border-radius: 0;
	font-family: 'Montserrat', 'Font Awesome 5', 'SFNS Display';
	font-size: 11px;
	min-height: 0;
}

/*
 * Window Stuff
 */
window#waybar {
	background: rgba(0, 0, 0, 0);
	color: @fg;
}
window#waybar.hidden {
	opacity: 0.0;
}

/*
 * Modules
 */
.modules-left, .modules-right, .modules-center {
	margin-top: 5px;
	background: @bg;
	margin-right: 10px;
	margin-left: 10px;
	border: 1px solid @pri;
	border-radius: 5px;
}

/*
 * Tags
 */
#tags {
	padding-right: 7px;
	padding-left: 7px;
}
#tags button {
	padding: 4px;
	color: @sec;
}
#tags button.occupied {
	color: @pri;
}
#tags button.focused {
	color: @alt;
	border-bottom: 1px solid @alt;
	font-weight: bold;
}
	#tags button.urgent {
}

/*
 * Extremes
 */
#mpd.control, #clock {
	background-color: @pri;
}

/*
 * All
 */
#clock, #battery, #cpu, #memory, #network, #pulseaudio, #mpd, #mpd.control, #custom-pvpn {
	padding-right: 8px;
	padding-left: 8px;
	padding-top: 5px;
	padding-bottom: 5px;
}

/*
 * Battery Blink
 */
#battery.critical:not(.charging) {
	background: #f53c3c;
	color: #ffffff;
	animation-name: blink;
	animation-duration: 0.5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}
@keyframes blink {
to {
		background-color: #ffffff;
		color: #000000;
    }
}
